.shop_container {
    display: flex;
    justify-content: space-between;
}

.product_container {
    width: 80%;
    margin-left: 30px;
    border-right: 1px solid rgb(200, 196, 196);
}

.cart_container {
    width: 20%;
    padding: 5px;
    text-align: center;
}

.search_container {
    background-color: rgba(0, 0, 0, 0.801);
    text-align: center;
    line-height: 40px;
}

.search_container input {
    width: 600px;
    padding: 3px;
}
