.header_img {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
}

.header_img img {
    width: 200px;
}

.navbar {
    padding-left: 40px;
    background-color: black;

}

.navbar a {
    text-decoration: none;
    margin: 20px;
    font-size: larger;
    color: white;
    padding: 10px;
    line-height: 35px;
}

.navbar :hover {
    background-color: white;
    color: black;
}